@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
}
article{
    text-align: center;
}
div.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.container > img{
    height: 500px;
}
div.container-logos{
    width: 50px;
    height: 300px;
}
div.logos{
    display: inline-block;
    margin-top: 20px;
    padding-left: 30vw;
  
}
div.logos > img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    
}

/* 
    div#container{
    display: flex;
    align-items: center; /* Alinha verticalmente ( tenho que ver mais sobre isso e o motivo )
    justify-content: center; /* Alinha horizontalmente ( tenho que ver mais sobre isso e o motivo ) 
    height: 100vh;  
*/
@media (max-width: 1366px) {
    div.logos{
        display: inline-block;
        margin-top: 10px;
        padding-left: 35vw;
      
    }
}
@media (max-width: 1000px) {
    div.logos{
        display: inline-block;
        margin-top: 20px;
        padding-left: 30vw;
      
    }
}

@media (max-width: 788px) {
    div.logos{
        display: inline-block;
        margin-top: 20px;
        padding-left: 23vw;
      
    }
}


@media (max-width: 577px) {
    div.logos{
        display: inline-block;
        margin-top: 20px;
        padding-left: 15vw;
      
    }
}