@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
}
div#container{
    display: flex;
    align-items: center; /* Alinha verticalmente ( tenho que ver mais sobre isso e o motivo )*/
    justify-content: center; /* Alinha horizontalmente ( tenho que ver mais sobre isso e o motivo ) */
    height: 100vh; 
}
img{
    position: absolute;
    height: 520px;
}
iframe{
    position: absolute;
    margin-right: 8px;
    margin-bottom: 5px;
    height: 401px;
    width: 239px;
}
div#logofacebook{
    display: block;
    text-align: right;
}
div#logofacebook > img{
    width: 50px;
    height: 50px;
   
}
